# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-mocha'
      'command': 'atom-mocha:toggle'
    }
  ]
  # '.tree-view .directory' : [
  #     {
  #         'label': 'Run Tests'
  #         'command': 'atom-mocha:runTestFolder'
  #     }
  # ]
  '.tree-view .file .name[data-name$=\\.js]' : [
      {
          'label': 'Run Test'
          'command': 'atom-mocha:runTestFile'
      }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-mocha'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-mocha:toggle'
        }
      ]
    ]
  }
]
